<!doctype html>
<html>
   <body style="background-color:Gainsboro;">
       	<h1 style="font-family:tahoma;text-align:center;color:MidnightBlue;"> Malignant transformation-free survival prediction</h1>
  		
	<b><p style="background-color:IndianRed;color:white;font-family:arial;text-align:center;">{{ result_prediction }}</p></b>
	<br>
  	<center><img src={{ url }} alt="Prediction plot" height="500" width="700"></center><br><br><br><br><br><br>

<footer class="footer">
            <div class="content has-text-centered">
              <p style = "text-align:center;font-family:arial;color:MidnightBlue;">
                <strong>Oral Cancer Research Theme, HKU  |  2021 </strong><br>
                <a href="https://facdent.hku.hk/research/oral-cancer.html">Website</a> | <a href="https://github.com/jaadeoye">Bug Report</a>
              </p>
            </div>
          </footer>
   </body>
</html>